<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHSWallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
				<key>dateExpires</key>
				<string>2019/4/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FDFullscreenPopGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KVOController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UXPasscodeField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FCE7838242962A17A614AF770D4E5867E147337E</string>
						<key>dateExpires</key>
						<string>2019/4/11</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>swiftScan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F75BQKJWV7</string>
						<key>name</key>
						<string>shihao wu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F75BQKJWV7.com.hqtech.Flowerchain</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F75BQKJWV7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>F75BQKJWV7.com.hqtech.Flowerchain</string>
				</array>
			</dict>
			<key>name</key>
			<string>DHSWallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1b4e808e-734c-4eba-b7c4-54146266f6a5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hqtech.Flowerchain</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F75BQKJWV7</string>
				<key>name</key>
				<string>shihao wu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
